# Exercício - Aula 04

## Configurações Iniciais

In [1]:
%config SqlMagic.autopandas = False
%config SqlMagic.displaylimit = 0

In [2]:
%reload_ext sql

In [3]:
%load_ext sql
%sql postgresql://postgres:pgadmin@localhost/brasil
# %sql postgresql://postgres:admin@172.21.218.12/brasil

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%%sql
-- Teste de conexão
SELECT * FROM censo22.brcid_popcorsexo
ORDER BY RANDOM()
LIMIT 3;

 * postgresql://postgres:***@172.21.218.12/brasil
3 rows affected.

[('Dom Bosco', 'MG', 3697, 1937, 1760, 1160, 615, 545, 373, 190, 183, 3, 1, 2, 2159, 1131, 1028, 2, 0, 2, None, None, None),
 ("São João do Pau d'Alho", 'SP', 2242, 1112, 1130, 1473, 724, 749, 123, 65, 58, 6, 4, 2, 640, 319, 321, 0, 0, 0, None, None, None),
 ('Araguaína', 'TO', 171301, 83223, 88078, 45334, 21754, 23580, 22201, 11641, 10560, 473, 179, 294, 102930, 49478, 53452, 359, 169, 190, None, None, None)]

# Atividade 4

Escreva uma consulta que responda:
Quais são as 10 cidades com população maior do que 100 mil habitantes mais
próximas de São Carlos, SP, considerando a distância Manhattan e:

- A distribuição só de Mulheres,
- A distribuição só de Homens,
- Só a distribuição Total.

### Criar os tipos ENUM para organizar os dados e crair a nova tabela para armazenar os arrays

ENUM
- Primeira dimensão do array: sexo/total
- Segunda dimensão do array: cor da população

In [5]:
%%sql

SET search_path TO censo22, public;

DROP TYPE IF EXISTS TP_SexoPop CASCADE;
CREATE TYPE TP_SexoPop AS ENUM ('Homens', 'Mulheres', 'Total');

DROP TYPE IF EXISTS TP_Cor CASCADE;
CREATE TYPE TP_Cor AS ENUM ('Branca', 'Preta', 'Amarela', 'Parda', 'Indigena', 'Ignorada');

DROP TYPE IF EXISTS TP_Cidade CASCADE;
CREATE TYPE TP_Cidade AS (

    Municipio TEXT,
    UF CHAR(2)

);

DROP TABLE IF EXISTS Cid_PopCorSexo;
CREATE TABLE Cid_PopCorSexo (

    Cidade TP_Cidade PRIMARY KEY,
    PopulacaoTotal BIGINT,
    PopCorSexo BIGINT[][], -- [Sexo/Total] x [Cor]
    PropCorSexo FLOAT[][]  -- Array 2D para as propo
	
);

 * postgresql://postgres:***@172.21.218.12/brasil
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Transformando as colunas em um array 2D

In [6]:
%%sql

INSERT INTO Cid_PopCorSexo (Cidade, PopulacaoTotal, PopCorSexo)
SELECT
    (Municipio, UF)::TP_Cidade,
    Populacao,
    ARRAY[
        [Homens_Branca, Homens_Preta, Homens_Amarela, Homens_Parda, Homens_Indigena, Homens_Ignorada],
        [Mulheres_Branca, Mulheres_Preta, Mulheres_Amarela, Mulheres_Parda, Mulheres_Indigena, Mulheres_Ignorada],
        [Total_Branca, Total_Preta, Total_Amarela, Total_Parda, Total_Indigena, Total_Ignorada]
    ]
FROM
    brcid_popcorsexo;

 * postgresql://postgres:***@172.21.218.12/brasil
5570 rows affected.

[]

In [7]:
%%sql

UPDATE Cid_PopCorSexo
SET PropCorSexo = sub.ArrayDeProporcoes

FROM (

    SELECT
        Cidade,
        ARRAY[
            ARRAY(SELECT unnest(PopCorSexo[1:1]) / PopulacaoTotal::FLOAT), -- Prop homens
            ARRAY(SELECT unnest(PopCorSexo[2:2]) / PopulacaoTotal::FLOAT), -- Prop mulheres
            ARRAY(SELECT unnest(PopCorSexo[3:3]) / PopulacaoTotal::FLOAT)  -- Prop total
        ] AS ArrayDeProporcoes

    FROM Cid_PopCorSexo
    WHERE PopulacaoTotal > 0

) AS sub
WHERE Cid_PopCorSexo.Cidade = sub.Cidade;

 * postgresql://postgres:***@172.21.218.12/brasil
5570 rows affected.

[]

### Análise exploratória de Manacapuru e Santos contra São Carlos

In [8]:
%%sql

WITH 
SaoCarlos AS (
    SELECT PropCorSexo[2:2] AS Vetor FROM censo22.Cid_PopCorSexo WHERE Cidade = ('São Carlos', 'SP')::censo22.TP_Cidade
),
Santos AS (
    SELECT PropCorSexo[2:2] AS Vetor FROM censo22.Cid_PopCorSexo WHERE Cidade = ('Santos', 'SP')::censo22.TP_Cidade
)

SELECT
    UNNEST(ARRAY['Branca', 'Preta', 'Amarela', 'Parda', 'Indigena', 'Ignorada']) AS "Cor",
    UNNEST((SELECT Vetor FROM SaoCarlos)) AS "Proporção_Sao_Carlos",
    UNNEST((SELECT Vetor FROM Santos)) AS "Proporção_Santos"

 * postgresql://postgres:***@172.21.218.12/brasil
6 rows affected.

[('Branca', 0.34965098074606543, 0.3773721476894851),
 ('Preta', 0.035235445759779015, 0.034519168291098114),
 ('Amarela', 0.0037903608690363615, 0.00563773267591637),
 ('Parda', 0.12414020411446419, 0.12870513702557046),
 ('Indigena', 0.0007141259608329377, 0.0005016626533654397),
 ('Ignorada', None, None)]

In [9]:
%%sql

WITH 
SaoCarlos AS (
    SELECT PropCorSexo[2:2] AS Vetor FROM censo22.Cid_PopCorSexo WHERE Cidade = ('São Carlos', 'SP')::censo22.TP_Cidade
),
Manacapuru AS (
    SELECT PropCorSexo[2:2] AS Vetor FROM censo22.Cid_PopCorSexo WHERE Cidade = ('Manacapuru', 'AM')::censo22.TP_Cidade
)

SELECT
    UNNEST(ARRAY['Branca', 'Preta', 'Amarela', 'Parda', 'Indigena', 'Ignorada']) AS "Cor",
    UNNEST((SELECT Vetor FROM SaoCarlos)) AS "Proporção_Sao_Carlos",
    UNNEST((SELECT Vetor FROM Manacapuru)) AS "Proporção_Manacapuru"

 * postgresql://postgres:***@172.21.218.12/brasil
6 rows affected.

[('Branca', 0.34965098074606543, 0.06312142359373006),
 ('Preta', 0.035235445759779015, 0.015154638163383489),
 ('Amarela', 0.0037903608690363615, 0.0002944554047289538),
 ('Parda', 0.12414020411446419, 0.4072318247401431),
 ('Indigena', 0.0007141259608329377, 0.004024223864629035),
 ('Ignorada', None, None)]

### Função de Distância Manhattan

- A "diferença" entre o perfil demográfico de uma cidade contra São Carlos

In [10]:
%%sql

CREATE OR REPLACE FUNCTION ManhattanDist(A ANYARRAY, B ANYARRAY) RETURNS DOUBLE PRECISION
    AS $$

        DECLARE
            Dim INT;
            Tot DOUBLE PRECISION:=0.0;

        BEGIN
            Dim:=Array_Length(A,1);
            FOR i IN 1..Dim LOOP
                Tot:=Tot+ABS(COALESCE(A[i],0)-COALESCE(B[i],0));
				
            END LOOP;
            RETURN Tot;

        END;

$$  LANGUAGE plpgsql IMMUTABLE;

 * postgresql://postgres:***@172.21.218.12/brasil
Done.

[]

## 10 cidades mais Próximas (distribuição de mulheres)

In [11]:
%%sql

SELECT
    (S.cidade).municipio AS "Cidade",
    (S.cidade).uf AS "UF",
    S.populacaototal AS "População",

    ManhattanDist(
        (SELECT ARRAY(SELECT unnest(Qc.PropCorSexo[2:2]))), -- Linha 2 equivale p/ Mulheres
        (SELECT ARRAY(SELECT unnest(S.PropCorSexo[2:2])))
    ) AS "Distancia_Manhattan"

FROM
    Cid_PopCorSexo Qc, Cid_PopCorSexo S

WHERE
    Qc.Cidade = ('São Carlos', 'SP')::TP_Cidade AND
    S.PopulacaoTotal > 100000 AND
    S.Cidade != Qc.Cidade

ORDER BY
    "Distancia_Manhattan" ASC

LIMIT 10;

 * postgresql://postgres:***@172.21.218.12/brasil
10 rows affected.

[('Rio Claro', 'SP', 201418, 0.01386800022889527),
 ('Sorocaba', 'SP', 723682, 0.015315967213848241),
 ('São José dos Campos', 'SP', 697054, 0.015790263005681864),
 ('Poços de Caldas', 'MG', 163742, 0.016835246363855184),
 ('Araras', 'SP', 130866, 0.01763100662470042),
 ('Araraquara', 'SP', 242228, 0.019348971287693643),
 ('Santo André', 'SP', 748919, 0.019835821573745836),
 ('São José do Rio Preto', 'SP', 480393, 0.022585864302595043),
 ('Votorantim', 'SP', 127923, 0.02384138626949063),
 ('Catanduva', 'SP', 115791, 0.024487293464416308)]

## 10 cidades mais próximas (Distribuição de homens)

In [12]:
%%sql

SELECT
    (S.cidade).municipio AS "Cidade",
    (S.cidade).uf AS "UF",
    S.populacaototal AS "População",

    ManhattanDist(
        (SELECT ARRAY(SELECT unnest(Qc.PropCorSexo[1:1]))), -- Linha 1 = Homens
        (SELECT ARRAY(SELECT unnest(S.PropCorSexo[1:1])))
    ) AS "Distancia_Manhattan"

FROM
    Cid_PopCorSexo Qc, Cid_PopCorSexo S

WHERE
    Qc.Cidade = ('São Carlos', 'SP')::TP_Cidade AND
    S.PopulacaoTotal > 100000 AND
    S.Cidade != Qc.Cidade

ORDER BY
    "Distancia_Manhattan" ASC
	
LIMIT 10;

 * postgresql://postgres:***@172.21.218.12/brasil
10 rows affected.

[('Rio Claro', 'SP', 201418, 0.009265905958036223),
 ('São José do Rio Preto', 'SP', 480393, 0.014496997508336912),
 ('Ourinhos', 'SP', 103970, 0.01605480223909985),
 ('Catanduva', 'SP', 115791, 0.01732465548062794),
 ('Sorocaba', 'SP', 723682, 0.018924173297392773),
 ('São José dos Campos', 'SP', 697054, 0.01901225464595594),
 ('Bragança Paulista', 'SP', 176811, 0.02047632228053598),
 ('Itajaí', 'SC', 264054, 0.021086090098626466),
 ('Botucatu', 'SP', 145155, 0.021908261213479576),
 ('Araras', 'SP', 130866, 0.022206170319226542)]

## 10 cidades mais próximas (distribuição total)

In [13]:
%%sql

SELECT
    (S.cidade).municipio AS "Cidade",
    (S.cidade).uf AS "UF",
    S.populacaototal AS "População",

    ManhattanDist(
        (SELECT ARRAY(SELECT unnest(Qc.PropCorSexo[3:3]))), -- Linha 3 = Total
        (SELECT ARRAY(SELECT unnest(S.PropCorSexo[3:3])))
    ) AS "Distancia_Manhattan"

FROM
    Cid_PopCorSexo Qc, Cid_PopCorSexo S

WHERE
    Qc.Cidade = ('São Carlos', 'SP')::TP_Cidade AND
    S.PopulacaoTotal > 100000 AND
    S.Cidade != Qc.Cidade

ORDER BY
    "Distancia_Manhattan" ASC
	
LIMIT 10;

 * postgresql://postgres:***@172.21.218.12/brasil
10 rows affected.

[('Santos', 'SP', 418608, 0.014805874217738045),
 ('Rio Claro', 'SP', 201418, 0.019503146236581437),
 ('São José do Rio Preto', 'SP', 480393, 0.025874351507057466),
 ('Sorocaba', 'SP', 723682, 0.03138010267217396),
 ('São José dos Campos', 'SP', 697054, 0.03245726099424225),
 ('Ourinhos', 'SP', 103970, 0.033327302395566555),
 ('Araras', 'SP', 130866, 0.039837176943927015),
 ('Catanduva', 'SP', 115791, 0.04181194894504414),
 ('Araraquara', 'SP', 242228, 0.04467478340988288),
 ('Bragança Paulista', 'SP', 176811, 0.04613264897903504)]