# Conectando ao banco

In [ ]:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

%load_ext sql

%sql postgresql://postgres:pgadmin@localhost/nobel
%config SqlMagic.displaylimit=None

%sql DB << SELECT Current_Database();
print(DB)

Connecting to 'postgresql://postgres:***@localhost/nobel'

displaylimit: Value None will be treated as 0 (no limit)

Running query in 'postgresql://postgres:***@localhost/nobel'

1 rows affected.

+------------------+
| current_database |
+------------------+
|      nobel       |
+------------------+

In [7]:
%config SqlMagic.displaylimit=10

In [25]:
%%sql
SELECT *
FROM Premiados

Running query in 'postgresql://postgres:***@localhost/nobel'

1004 rows affected.

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                           premiados                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                               {'id': '1', 'born': '1845-03-27', 'died': '1923-02-10', 'gender': 'male', 'prizes': [{'year': '1901', 'share': '1', 'category': 'physics', 'motivation': 'in recognition of the extraordinary services he has rendered by the discovery of the remarkable rays subsequently named after him', 'affiliations': [{'city': 'Munich', 'name': 'Munich University', 'country': 'Germany'}]}], 'surname': 'Ru00f6ntgen', 'bornCity': 'Lennep (now Remscheid)', 'diedCity': 'Munich', 'firstname': 'Wilhelm Conrad', 'bornCountry': 'Prussia (now Germany)', 'diedCountry': 'Germany', 'bornCountryCode': 'DE', 'diedCountryCode': 'DE'}                                                                                                                                                               |
|                                                                                                                                                                               {'id': '2', 'born': '1853-07-18', 'died': '1928-02-04', 'gender': 'male', 'prizes': [{'year': '1902', 'share': '2', 'category': 'physics', 'motivation': 'in recognition of the extraordinary service they rendered by their researches into the influence of magnetism upon radiation phenomena', 'affiliations': [{'city': 'Leiden', 'name': 'Leiden University', 'country': 'the Netherlands'}]}], 'surname': 'Lorentz', 'bornCity': 'Arnhem', 'firstname': 'Hendrik A.', 'bornCountry': 'the Netherlands', 'diedCountry': 'the Netherlands', 'bornCountryCode': 'NL', 'diedCountryCode': 'NL'}                                                                                                                                                                              |
|                                                                                                                                                                {'id': '3', 'born': '1865-05-25', 'died': '1943-10-09', 'gender': 'male', 'prizes': [{'year': '1902', 'share': '2', 'category': 'physics', 'motivation': 'in recognition of the extraordinary service they rendered by their researches into the influence of magnetism upon radiation phenomena', 'affiliations': [{'city': 'Amsterdam', 'name': 'Amsterdam University', 'country': 'the Netherlands'}]}], 'surname': 'Zeeman', 'bornCity': 'Zonnemaire', 'diedCity': 'Amsterdam', 'firstname': 'Pieter', 'bornCountry': 'the Netherlands', 'diedCountry': 'the Netherlands', 'bornCountryCode': 'NL', 'diedCountryCode': 'NL'}                                                                                                                                                               |
|                                                                                                                                                                                                          {'id': '4', 'born': '1852-12-15', 'died': '1908-08-25', 'gender': 'male', 'prizes': [{'year': '1903', 'share': '2', 'category': 'physics', 'motivation': 'in recognition of the extraordinary services he has rendered by his discovery of spontaneous radioactivity', 'affiliations': [{'city': 'Paris', 'name': 'u00c9cole Polytechnique', 'country': 'France'}]}], 'surname': 'Becquerel', 'bornCity': 'Paris', 'firstname': 'Henri', 'bornCountry': 'France', 'diedCountry': 'France', 'bornCountryCode': 'FR', 'diedCountryCode': 'FR'}                                                                                                                                                                                                         |
|                                                                                                                          {'id': '5', 'born': '1859-05-15', 'died': '1906-04-19', 'gender': 'male', 'prizes': [{'year': '1903', 'share': '4', 'category': 'physics', 'motivation': 'in recognition of the extraordinary services they have rendered by their joint researches on the radiation phenomena discovered by Professor Henri Becquerel', 'affiliations': [{'city': 'Paris', 'name': 'u00c9cole municipale de physique et de chimie industrielles (Municipal School of Industrial Physics and Chemistry)', 'country': 'France'}]}], 'surname': 'Curie', 'bornCity': 'Paris', 'diedCity': 'Paris', 'firstname': 'Pierre', 'bornCountry': 'France', 'diedCountry': 'France', 'bornCountryCode': 'FR', 'diedCountryCode': 'FR'}                                                                                                                          |
| {'id': '6', 'born': '1867-11-07', 'died': '1934-07-04', 'gender': 'female', 'prizes': [{'year': '1903', 'share': '4', 'category': 'physics', 'motivation': 'in recognition of the extraordinary services they have rendered by their joint researches on the radiation phenomena discovered by Professor Henri Becquerel', 'affiliations': [[]]}, {'year': '1911', 'share': '1', 'category': 'chemistry', 'motivation': 'in recognition of her services to the advancement of chemistry by the discovery of the elements radium and polonium, by the isolation of radium and the study of the nature and compounds of this remarkable element', 'affiliations': [{'city': 'Paris', 'name': 'Sorbonne University', 'country': 'France'}]}], 'surname': 'Curie', 'bornCity': 'Warsaw', 'diedCity': 'Sallanches', 'firstname': 'Marie', 'bornCountry': 'Russian Empire (now Poland)', 'diedCountry': 'France', 'bornCountryCode': 'PL', 'diedCountryCode': 'FR'} |
|                                                                                                                                                                {'id': '8', 'born': '1842-11-12', 'died': '1919-06-30', 'gender': 'male', 'prizes': [{'year': '1904', 'share': '1', 'category': 'physics', 'motivation': 'for his investigations of the densities of the most important gases and for his discovery of argon in connection with these studies', 'affiliations': [{'city': 'London', 'name': 'Royal Institution of Great Britain', 'country': 'United Kingdom'}]}], 'surname': 'Rayleigh', 'bornCity': 'Langford Grove, Maldon, Essex', 'firstname': 'Lord', 'bornCountry': 'United Kingdom', 'diedCountry': 'United Kingdom', 'bornCountryCode': 'GB', 'diedCountryCode': 'GB'}                                                                                                                                                                |
|                                                                                                                                                                                                                    {'id': '9', 'born': '1862-06-07', 'died': '1947-05-20', 'gender': 'male', 'prizes': [{'year': '1905', 'share': '1', 'category': 'physics', 'motivation': 'for his work on cathode rays', 'affiliations': [{'city': 'Kiel', 'name': 'Kiel University', 'country': 'Germany'}]}], 'surname': 'Lenard', 'bornCity': 'Pressburg (now Bratislava)', 'diedCity': 'Messelhausen', 'firstname': 'Philipp', 'bornCountry': 'Hungary (now Slovakia)', 'diedCountry': 'Germany', 'bornCountryCode': 'SK', 'diedCountryCode': 'DE'}                                                                                                                                                                                                                    |
|                                                                                                                                                                  {'id': '10', 'born': '1856-12-18', 'died': '1940-08-30', 'gender': 'male', 'prizes': [{'year': '1906', 'share': '1', 'category': 'physics', 'motivation': 'in recognition of the great merits of his theoretical and experimental investigations on the conduction of electricity by gases', 'affiliations': [{'city': 'Cambridge', 'name': 'University of Cambridge', 'country': 'United Kingdom'}]}], 'surname': 'Thomson', 'bornCity': 'Cheetham Hill', 'diedCity': 'Cambridge', 'firstname': 'J.J.', 'bornCountry': 'United Kingdom', 'diedCountry': 'United Kingdom', 'bornCountryCode': 'GB', 'diedCountryCode': 'GB'}                                                                                                                                                                 |
|                                                                                                                                                                     {'id': '11', 'born': '1852-12-19', 'died': '1931-05-09', 'gender': 'male', 'prizes': [{'year': '1907', 'share': '1', 'category': 'physics', 'motivation': 'for his optical precision instruments and the spectroscopic and metrological investigations carried out with their aid', 'affiliations': [{'city': 'Chicago, IL', 'name': 'University of Chicago', 'country': 'USA'}]}], 'surname': 'Michelson', 'bornCity': 'Strelno (now Strzelno)', 'diedCity': 'Pasadena, CA', 'firstname': 'Albert A.', 'bornCountry': 'Prussia (now Poland)', 'diedCountry': 'USA', 'bornCountryCode': 'PL', 'diedCountryCode': 'US'}                                                                                                                                                                    |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
Truncated to displaylimit of 10.

In [21]:
%%sql
# Cria tabela temporaraia
DROP TABLE IF EXISTS Temporaria;
CREATE TABLE Temporaria ( Linha TEXT);

# Cria tabela de especialidade
DROP TABLE IF EXISTS Especialidade;
CREATE TABLE Especialidade (
    Laureate TEXT,
    Specialty TEXT
);

# Leitura da tabela no csv 
COPY Especialidade(Laureate, Specialty)
FROM 'C:/MineracaoDados/Exercicios/Ex5/Specialties.csv'
DELIMITER ','
CSV HEADER;

Running query in 'postgresql://postgres:***@localhost/nobel'

81 rows affected.

++
||
++
++

In [64]:
%%sql
# Adicionando a coluna de especialidade em Premiados
ALTER TABLE Premiados
DROP COLUMN Specialty ;

Running query in 'postgresql://postgres:***@localhost/nobel'

++
||
++
++

In [55]:
%%sql
# Querry para buscar nome do premiado e seu id
SELECT 
    (laureate_info->>'id')::INT AS Identificador,
    (
        (laureate_info->>'firstname')::TEXT || 
        ' ' || 
        (laureate_info->>'surname')::TEXT
    ) AS Nome_Completo
FROM 
    Premios AS P,
    jsonb_array_elements(P.premio -> 'laureates') AS laureate_info
ORDER BY
    Identificador

Running query in 'postgresql://postgres:***@localhost/nobel'

2024 rows affected.

+---------------+----------------------------+
| identificador |       nome_completo        |
+---------------+----------------------------+
|       1       | Wilhelm Conrad Ru00f6ntgen |
|       1       | Wilhelm Conrad Ru00f6ntgen |
|       2       |     Hendrik A. Lorentz     |
|       2       |     Hendrik A. Lorentz     |
|       3       |       Pieter Zeeman        |
|       3       |       Pieter Zeeman        |
|       4       |      Henri Becquerel       |
|       4       |      Henri Becquerel       |
|       5       |        Pierre Curie        |
|       5       |        Pierre Curie        |
+---------------+----------------------------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
ALTER TABLE Premiados
ADD COLUMN especialidade TEXT;

UPDATE Premiados AS P
SET especialidade = E.specialty 
FROM Especialidade AS E, 
     (
        # Subquerry para identificar os nomes e ids dos laureados
        SELECT 
            (laureate_info->>'id')::INT AS Identificador,
            (
                (laureate_info->>'firstname')::TEXT || 
                ' ' || 
                (laureate_info->>'surname')::TEXT
            ) AS Nome_Completo
        FROM 
            Premios AS Pr, 
            jsonb_array_elements(Pr.premio -> 'laureates') AS laureate_info
    ) AS N 
WHERE 
    N.Identificador = (P.premiados->>'id')::INT
    AND 
    E.laureate = N.Nome_Completo;

Running query in 'postgresql://postgres:***@localhost/nobel'

17 rows affected.

++
||
++
++

In [69]:
%%sql
SELECT *
FROM Premiados
WHERE Premiados.especialidade IS NOT NULL

Running query in 'postgresql://postgres:***@localhost/nobel'

17 rows affected.

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|                                                                                                                                                                                                                                                                                      premiados                                                                                                                                                                                                                                                                                      | especialidade |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|                      {'id': '428', 'born': '1902-06-16', 'died': '1992-09-02', 'gender': 'female', 'prizes': [{'year': '1983', 'share': '1', 'category': 'medicine', 'motivation': 'for her discovery of mobile genetic elements', 'affiliations': [{'city': 'Cold Spring Harbor, NY', 'name': 'Cold Spring Harbor Laboratory', 'country': 'USA'}]}], 'surname': 'McClintock', 'bornCity': 'Hartford, CT', 'diedCity': 'Huntington, NY', 'firstname': 'Barbara', 'bornCountry': 'USA', 'diedCountry': 'USA', 'bornCountryCode': 'US', 'diedCountryCode': 'US'}                      |    Genetics   |
|                                               {'id': '802', 'born': '1959-04-27', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2006', 'share': '2', 'category': 'medicine', 'motivation': 'for their discovery of RNA interference - gene silencing by double-stranded RNA', 'affiliations': [{'city': 'Stanford, CA', 'name': 'Stanford University School of Medicine', 'country': 'USA'}]}], 'surname': 'Fire', 'bornCity': 'Stanford, CA', 'firstname': 'Andrew Z.', 'bornCountry': 'USA', 'bornCountryCode': 'US'}                                              |    Genetics   |
|                                                            {'id': '830', 'born': '1947-01-15', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2008', 'share': '3', 'category': 'chemistry', 'motivation': 'for the discovery and development of the green fluorescent protein, GFP', 'affiliations': [{'city': 'New York, NY', 'name': 'Columbia University', 'country': 'USA'}]}], 'surname': 'Chalfie', 'bornCity': 'Chicago, IL', 'firstname': 'Martin', 'bornCountry': 'USA', 'bornCountryCode': 'US'}                                                            |    Genetics   |
|  {'id': '452', 'born': '1918-05-20', 'died': '2004-07-21', 'gender': 'male', 'prizes': [{'year': '1995', 'share': '3', 'category': 'medicine', 'motivation': 'for their discoveries concerning the genetic control of early embryonic development', 'affiliations': [{'city': 'Pasadena, CA', 'name': 'California Institute of Technology (Caltech)', 'country': 'USA'}]}], 'surname': 'Lewis', 'bornCity': 'Wilkes-Barre, PA', 'diedCity': 'Pasadena, CA', 'firstname': 'Edward B.', 'bornCountry': 'USA', 'diedCountry': 'USA', 'bornCountryCode': 'US', 'diedCountryCode': 'US'} |    Genetics   |
|           {'id': '750', 'born': '1927-01-13', 'died': '2019-04-05', 'gender': 'male', 'prizes': [{'year': '2002', 'share': '3', 'category': 'medicine', 'motivation': 'for their discoveries concerning genetic regulation of organ development and programmed cell death', 'affiliations': [{'city': 'Berkeley, CA', 'name': 'The Molecular Sciences Institute', 'country': 'USA'}]}], 'surname': 'Brenner', 'bornCity': 'Germiston', 'firstname': 'Sydney', 'bornCountry': 'South Africa', 'diedCountry': 'Singapore', 'bornCountryCode': 'ZA', 'diedCountryCode': 'SG'}          |    Genetics   |
| {'id': '811', 'born': '1937-10-06', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2007', 'share': '3', 'category': 'medicine', 'motivation': 'for their discoveries of principles for introducing specific gene modifications in mice by the use of embryonic stem cells', 'affiliations': [{'city': 'Salt Lake City, UT', 'name': 'University of Utah', 'country': 'USA'}, {'name': 'Howard Hughes Medical Institute', 'country': 'USA'}]}], 'surname': 'Capecchi', 'bornCity': 'Verona', 'firstname': 'Mario R.', 'bornCountry': 'Italy', 'bornCountryCode': 'IT'} |    Genetics   |
| {'id': '861', 'born': '1957-12-29', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2011', 'share': '4', 'category': 'medicine', 'motivation': 'for their discoveries concerning the activation of innate immunity', 'affiliations': [{'city': 'Dallas, TX', 'name': 'University of Texas Southwestern Medical Center at Dallas', 'country': 'USA'}, {'city': 'La Jolla, CA', 'name': 'The Scripps Research Institute', 'country': 'USA'}]}], 'surname': 'Beutler', 'bornCity': 'Chicago, IL', 'firstname': 'Bruce A.', 'bornCountry': 'USA', 'bornCountryCode': 'US'} |    Genetics   |
|                                                                      {'id': '927', 'born': '1945-02-09', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2016', 'share': '1', 'category': 'medicine', 'motivation': 'for his discoveries of mechanisms for autophagy', 'affiliations': [{'city': 'Tokyo', 'name': 'Tokyo Institute of Technology', 'country': 'Japan'}]}], 'surname': 'Ohsumi', 'bornCity': 'Fukuoka', 'firstname': 'Yoshinori', 'bornCountry': 'Japan', 'bornCountryCode': 'JP'}                                                                      |    Genetics   |
|                                                        {'id': '940', 'born': '1949-03-28', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '2017', 'share': '3', 'category': 'medicine', 'motivation': 'for their discoveries of molecular mechanisms controlling the circadian rhythm', 'affiliations': [{'city': 'New York, NY', 'name': 'Rockefeller University', 'country': 'USA'}]}], 'surname': 'Young', 'bornCity': 'Miami, FL', 'firstname': 'Michael W.', 'bornCountry': 'USA', 'bornCountryCode': 'US'}                                                       |    Genetics   |
|                                                   {'id': '454', 'born': '1947-06-08', 'died': '0000-00-00', 'gender': 'male', 'prizes': [{'year': '1995', 'share': '3', 'category': 'medicine', 'motivation': 'for their discoveries concerning the genetic control of early embryonic development', 'affiliations': [{'city': 'Princeton, NJ', 'name': 'Princeton University', 'country': 'USA'}]}], 'surname': 'Wieschaus', 'bornCity': 'South Bend, IN', 'firstname': 'Eric F.', 'bornCountry': 'USA', 'bornCountryCode': 'US'}                                                  |    Genetics   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+
Truncated to displaylimit of 10.