# **Coloque aqui as Bibliotecas Necessárias**

In [1]:
import pandas as pd
import seaborn as sns
from scipy.stats import kstest
from sklearn.linear_model import LinearRegression

# **Conjunto de Dados com Estatísticas do Brasil**

In [2]:
data = pd.read_csv('BRAZIL_CITIES.csv',sep=";", decimal=".",)
data.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL.MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

In [3]:
# Pega colunas específicas
columns = ['CITY', 'STATE', 'CAPITAL', 'MUN_EXPENDIT', 'IBGE_RES_POP','AREA',
           'IDHM','LONG','LAT','ALT','ESTIMATED_POP','TAXES','GDP','GDP_CAPITA','COMP_TOT',
           'Cars','Motorcycles','UBER','Wheeled_tractor','POST_OFFICES','IBGE_PLANTED_AREA','RURAL_URBAN']
df = data[columns]
df.head()

,CITY,STATE,CAPITAL,MUN_EXPENDIT,IBGE_RES_POP,AREA,IDHM,LONG,LAT,ALT,...,GDP,GDP_CAPITA,COMP_TOT,Cars,Motorcycles,UBER,Wheeled_tractor,POST_OFFICES,IBGE_PLANTED_AREA,RURAL_URBAN
0,Abadia De Goiás,GO,0,28227691.0,6876.0,147.26,0.708,-49.440548,-16.758812,893.60,...,166.41,20664.57,284.0,2158.0,1246.0,NaN,0.0,1.0,319.0,Urbano
1,Abadia Dos Dourados,MG,0,17909274.0,6704.0,881.06,0.690,-47.396832,-18.487565,753.12,...,180.09,25591.70,476.0,2227.0,1142.0,NaN,0.0,1.0,4479.0,Rural Adjacente
2,Abadiânia,GO,0,37513019.0,15757.0,1045.13,0.690,-48.718812,-16.182672,1017.55,...,287984.49,15628.40,288.0,2838.0,1426.0,NaN,0.0,3.0,10307.0,Rural Adjacente
3,Abaeté,MG,0,NaN,22690.0,1817.07,0.698,-45.446191,-19.155848,644.74,...,430235.36,18250.42,621.0,6928.0,2953.0,NaN,0.0,4.0,1862.0,Urbano
4,Abaetetuba,PA,0,NaN,141100.0,1610.65,0.628,-48.884404,-1.723470,10.12,...,1249255.29,8222.36,931.0,5277.0,25661.0,NaN,0.0,2.0,25200.0,Urbano

In [4]:
print("Informação do conjunto de dados")
df.info()

Informação do conjunto de dados
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CITY               5573 non-null   object
 1   STATE              5573 non-null   object
 2   CAPITAL            5573 non-null   int64
 3   MUN_EXPENDIT       4081 non-null   float64
 4   IBGE_RES_POP       5565 non-null   float64
 5   AREA               5570 non-null   float64
 6   IDHM               5565 non-null   float64
 7   LONG               5564 non-null   float64
 8   LAT                5564 non-null   float64
 9   ALT                5564 non-null   float64
 10  ESTIMATED_POP      5570 non-null   float64
 11  TAXES              5570 non-null   float64
 12  GDP                5570 non-null   float64
 13  GDP_CAPITA         5570 non-null   float64
 14  COMP_TOT           5570 non-null   float64
 15  Cars               5562 non-null   float64
 16  Motorcycles        5562 non-null   float64
 17  UBER               125 non-null    float64
 18  Wheeled_tractor    5562 non-null   float64
 19  POST_OFFICES       5453 non-null   float64
 20  IBGE_PLANTED_AREA  5570 non-null   float64
 21  RURAL_URBAN        5570 non-null   object
dtypes: float64(18), int64(1), object(3)
memory usage: 958.0+ KB

In [5]:
print("Porcentagem e valores null ou NA no dataframe")
((df.isnull() | df.isna()).sum() * 100 / df.index.size).round(2)

Porcentagem e valores null ou NA no dataframe

CITY                  0.00
STATE                 0.00
CAPITAL               0.00
MUN_EXPENDIT         26.77
IBGE_RES_POP          0.14
AREA                  0.05
IDHM                  0.14
LONG                  0.16
LAT                   0.16
ALT                   0.16
ESTIMATED_POP         0.05
TAXES                 0.05
GDP                   0.05
GDP_CAPITA            0.05
COMP_TOT              0.05
Cars                  0.20
Motorcycles           0.20
UBER                 97.76
Wheeled_tractor       0.20
POST_OFFICES          2.15
IBGE_PLANTED_AREA     0.05
RURAL_URBAN           0.05
dtype: float64

In [6]:
df[df['RURAL_URBAN'].isna()]

,CITY,STATE,CAPITAL,MUN_EXPENDIT,IBGE_RES_POP,AREA,IDHM,LONG,LAT,ALT,...,GDP,GDP_CAPITA,COMP_TOT,Cars,Motorcycles,UBER,Wheeled_tractor,POST_OFFICES,IBGE_PLANTED_AREA,RURAL_URBAN
2701,Lagoa Dos Patos,RS,0,NaN,NaN,10158.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4481,Santa Teresinha,BA,0,22225531.0,NaN,NaN,0.59,-39.52114,-12.772852,222.51,...,NaN,NaN,NaN,810.0,453.0,NaN,0.0,NaN,NaN,NaN
4605,São Caetano,PE,0,53609740.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Tarefa 1: Faça a inputação de atributos usando média, moda e mediana**

In [7]:
# Função de ajuste de texto
def tab(column):
    ajuste = 18 - len(column);
    print(column + " " * ajuste, end="")

# Função de teste de normalidade por Kolmogorov-Smirnov e imputação
def calc_kstest(column):

    col_teste = new_df[column]

    alfa = 0.05
    stat, p_valor = kstest(col_teste, "norm")

    if p_valor > alfa:

        tab(column)
        print('parece ser normalmente distribuída. Técnica de imputação: média.')
        return 0

    else:

        tab(column)
        print('NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.')
        return 1

#copia o dataframe original para um novo dataframe
new_df = df.copy()

# Tratamento de valores nulos separados em categóricos e numéricos

null_columns = []
null_columns_categorical = []

for coluna in new_df.columns:
    
    if new_df[coluna].dtype != 'object':

        null_columns.append(coluna)

    else:

        null_columns_categorical.append(coluna)

# Imputação de valores nulos numéricos

for column in null_columns:

    if( calc_kstest(column) == 0):

        media = new_df[column].mean()
        new_df[column].fillna(media, inplace=True)

    else:

        mediana = new_df[column].median()
        new_df[column].fillna(mediana, inplace=True)

# Imputação de valores nulos categóricos

print("---")

for column in null_columns_categorical:

    tab(column)
    print('é categórica. Técnica de imputação: moda.')

    #altera os valores nulos pela moda
    moda = new_df[column].mode()[0]
    new_df[column].fillna(moda, inplace=True)

CAPITAL           NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
MUN_EXPENDIT      NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
IBGE_RES_POP      NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
AREA              NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
IDHM              NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
LONG              NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
LAT               NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
ALT               NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
ESTIMATED_POP     NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
TAXES             NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
GDP               NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
GDP_CAPITA        NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
COMP_TOT          NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
Cars              NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
Motorcycles       NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
UBER              NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
Wheeled_tractor   NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
POST_OFFICES      NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
IBGE_PLANTED_AREA NÃO parece ser normalmente distribuída. Técnica de imputação: mediana.
---
CITY              é categórica. Técnica de imputação: moda.
STATE             é categórica. Técnica de imputação: moda.
RURAL_URBAN       é categórica. Técnica de imputação: moda.

In [8]:
new_df.isnull().sum()

CITY                 0
STATE                0
CAPITAL              0
MUN_EXPENDIT         0
IBGE_RES_POP         0
AREA                 0
IDHM                 0
LONG                 0
LAT                  0
ALT                  0
ESTIMATED_POP        0
TAXES                0
GDP                  0
GDP_CAPITA           0
COMP_TOT             0
Cars                 0
Motorcycles          0
UBER                 0
Wheeled_tractor      0
POST_OFFICES         0
IBGE_PLANTED_AREA    0
RURAL_URBAN          0
dtype: int64

# **Tarefa 2: Faça a inputação de atributos explorando correlação entre variáveis**

In [9]:
new_df = df.copy()

# **Tarefa 3: Faça a inputação de atributos explorando similaridade entre os exemplos**

In [10]:
# Coloque seu código aqui
print("teste")

teste