<div style="line-height:18px;">
    <img src="Figuras/ICMC_Logo.jpg" alt="ICMC" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" alt="GBdI" width=550><br>
    <font color="black" size="5" face="Georgia">&emsp; <i><u>Prof. Dr. Caetano Traina Júnior</u></font><br>
    <font color="black" size="4" face="Georgia">&emsp; &ensp;<i>ICMC-USP São Carlos</font>
    <div align="right"><font size="1" face="arial" color="gray"> 1 seg. &ensp; 19 cel</font></div>
    </div><br>
<br>

<img src="Figuras/Cores-3-Axata.png" width=840/>

<br>

<font size="6" face="verdana" color="green"><b>4. Preparação de dados em SQL<br> usando <b>Tipos de Dados Não-Atômicos</b></font><br><br>
<font size="5" face="verdana" color="green"><b>4.2 - Tipos de dados</b></font>&nbsp; 
    <font size="5" face="courier" color="green"><b>Enum</b></font>
<br><br>

**Objetivo:** &emsp; Aprender a trabalhar com atributos categóricos: &nbsp;  <font size="3" face="courier" ><b>ENUM</b></font> em SQL
  * Definição de Tipos de Dados Categóricos em Postgres
  * Verificar os valores definidos em um tipo enumerador
  * A ordem dos valores definidos
  * Enumerador é estático, mas podem ser acrescidos valores
  * Enumerador $\times$ chave estrangeira
  * Enumerador como um tipo multi-valorado 
<br><br>

# 1. Conectar com a Base de Dados

Para começar, é necessário estabelecer a conexão com uma base. 
 * Qualquer base pode ser usada aqui.
 * Vamos usar a base __Fapesp-Covid19__: &nbsp; `fapcov2103`

In [ ]:
############## Importar os módulos necessários para o Notebook:
import matplotlib.pyplot as plt
import pandas.io.sql as psql
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine, text

############## Conectar com um servidor SQL ###################### --> Postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/brasil')
%sql postgresql://postgres:pgadmin@localhost/brasil

<br><br>
# 2. Definição de Tipos de Dados Categóricos

Um tipo de dados categórico é um conjunto de valores onde cada valor tem um nome. \
Os nomes são pré-definidos, permitindo assim restringir os valores que podem ser usados.

O padrão <img src="Figuras/ISO-Logo.png" width=25> &nbsp; define o objeto `TYPE` para definir tipos de dados compostos (como definido no _NoteBook_ `4.1-Arrays<dataset>.ipynb)`,\
segundo a definição:

<table align="left"><tr>
    <td width="500"><div class="alert alert-block alert-warning"><font face="Georgia", size=3> 
    <font size="4"  style="background-color:#E0E060;" color="#050505">Sintaxe para declarar <b>um tipo composto</b>
    </font><br>
    <font color=#0000ff face='courier' style="background-color:#DDDDDD;"><b>
        CREATE TYPE $<$Nome Tipo$>$ AS<br>
        &emsp;&emsp;($<$Nome Atr$>$ $<$Tipo Atr$>, \ldots$);</b></font>
    </font></div><br></td>
</tr></table>
<br><br><br><br><br><br><br>

## 2.1 Definição de Tipos de Dados Categóricos em Postgres

O SGBDR <img src="Figuras/Postgres.png" width=100> &nbsp; estende essa definição para definir <b>tipos categóricos</b> com um <b> enumerador</b>, segundo a definição:

<table align="left"><tr>
    <td width="500"><div class="alert alert-block alert-warning"><font face="Georgia", size=3> 
    <font size="4"  style="background-color:#E0E060;" color="#050505">Sintaxe para declarar um <b>Tipo de dados Categórigos</b>
    </font><br>
    <font color=#0000ff face='courier' style="background-color:#DDDDDD;"><b>
        CREATE TYPE $<$Nome Tipo$>$ AS <font color="red">ENUM</font><br>
        &emsp;&emsp;($<$Nome valor$>$, $\ldots$);</b></font>
    </font></div><br></td>
</tr></table>
<br><br><br><br><br><br><br>

<b>Exemplo:</b>

Criar um novo tipo de dados `Cor`:

In [ ]:
%%sql
DROP TYPE IF EXISTS Cor CASCADE;
CREATE TYPE Cor AS
    ENUM ('Preto', 'Marron', 'Vermelho', 'Laranja',
		  'Amarelo', 'Verde', 'Azul', 'violeta', 
		  'Cinza', 'Branco', 
          'Dourado', 'Prata', 'Ciano', 'Magenta');

<table align="left" border="1" style="width:1000">
  <tr>
    <td style="width:750">
      <font size=3>
      Podemos agora definir tabelas que contêm atributos desse tipo.<br><br>
      Por exemplo, podemos definir uma tabela de Carros, onde cada um ter um atributo Cor:
    </td>
    <td style="width:2500"><img src="Figuras/Cores-2-Carros.png" width=250></td>
    <td></td>
</tr>
</table>

In [ ]:
%%sql
DROP TABLE IF EXISTS Carros;
CREATE TABLE Carros (
    Placa TEXT,
    Pintura Cor
    );

<br>

Para inserir tuplas nessa tabela, o valor de um atributo `Pintura` deve ser um valor válido para o tipo `Cor`.

Caso o valor indicado para o atributo `Pintura` não seja um dos valores do enumerador, <font color="red"><b>ocorre um erro.</b></font><br>
&emsp; &emsp; <font color="red"> A célula seguinte acusa erro, porque não existe uma cor `Bronze`:</font>

%%sql
INSERT INTO Carros VALUES ('XYZ4E67', 'Bronze') RETURNING *;

<br>

Podem ser usados os valores definidos para o Enumerador:

In [ ]:
%%sql
INSERT INTO Carros VALUES ('ABC4D67', 'Branco') RETURNING *;

<br>
Veja que o atributo `Cor` tem um tipo definido pelo usuário, cujo identificador é:

In [ ]:
%sql defCarro  <<  \
SELECT C.RelName, A.AttName, A.AttNum, A.AttLen, A. AttTypId, T.TypName \
    FROM Pg_Class C JOIN Pg_Attribute A ON C.OID = A.AttRelId           \
                    JOIN Pg_Type T      ON A.AttTypId=T.OID             \
    WHERE (C.RelName = 'carros')                                        \
      AND A.AttNum>0   -- AttNum<0 ==> Atributo de sistema              \
    ORDER BY 1,4;

IdCor=defCarro[1][4]

print(defCarro, '\n\nO identificador do enumerador Cor é:', IdCor)

<br><br>

## 2.2. Verificar quais são os valores definidos para um Enumerador

<table align="left"><tr>
    <td width="500"><div class="alert alert-block alert-warning"><font face="Georgia", size=3> 
    <font size="4"  style="background-color:#E0E060;" color="#050505">Sintaxe da função  
        <font face="arial" style="background-color:#D0FFFF;" color="#050505"> &nbsp; <b>Enum_Range</b> &nbsp;</font>:</font>
      </font><br>
    <font size=3 color=#0000ff face='courier' style="background-color:#DDDDDD;"><b>
        Enum_Range($<$AnyEnum$>$) $\rightarrow$ $<$AnyArray$>$<BR>
        Enum_Range($<$AnyEnum$>$, $<$AnyEnum$>$) $\rightarrow$ $<$AnyArray$>$</b>
    </font></div><br></td>
</tr></table>
<br><br><br><br><br><br><br>

Ambas as versões retornam os valores do Enumerador $<$AnyEnum$>$ como um `ARRAY`.

<b>Por exemplo:</b>

In [ ]:
%sql Tudo << SELECT Enum_Range(NULL::Cor);
print(Tudo, '\n')

%sql Parte << SELECT Enum_Range('Marron'::Cor, 'Laranja'::Cor);
print(Parte)

<b>Nota:</b>\
Qualquer valor válido pode ser passado como <font size="3" face="courier" color="blue">$<$AnyEnum$>$</font>,

In [ ]:
%%sql
SELECT Enum_Range('Verde'::Cor);

Mas se for passado <font color="red">um valor que não existe no enumerador <b>dá erro:</b></font>

%%sql
SELECT Enum_Range('Ocre'::Cor);

<br>
Passar `NULL` garante que o comando é válido, independentemente dos valores que estão definidos no enumerador.

<br>

Naturalmente, a lista de valores resultante da função `Enum_Range` pode ser desaninhada numa lista de tuplas:

In [ ]:
%%sql
SELECT Generate_Subscripts(Enum_Range(null::Cor), 1) AS Sequencia,
       Unnest(Enum_Range(null::Cor)) AS Valor;

## 2.3. Ordem dos valores de um tipo enumerador

A ordem dos valores é assumida ser a ordem com que eles são definidos.

<b>Por exemplo:</b>

In [ ]:
%%sql
SELECT * FROM (
    VALUES (1, 'Branco'::Cor),
           (2, 'Amarelo'), 
           (3, 'Azul'), 
           (4, 'Prata')) AS Temp (num, qual_cor)
    ORDER BY Qual_Cor;

<br><br>

# 3. Alterações num tipo enumerador já definido

Um tipo de dado <b>Enumerador</b> é considerado estático.\
Isso significa que uma vez definido, ele não deve ser alterado.

O SGBD <img src="Figuras/Postgres.png" width=100> %nbsp; até permite que um novo valor seja acrescentado, mas valores existentes não podem ser removidos.

<table align="left"><tr>
    <td width="700"><div class="alert alert-block alert-warning"><font face="Georgia", size=3> 
    <font size="4"  style="background-color:#E0E060;" color="#050505">Sintaxe para incluir um <b>novo valor para um enumerador</b>:</font><br>
    <font color=#0000ff face='courier' style="background-color:#DDDDDD;"><b>
        ALTER TYPE $<$Nome Tipo$>$ <br> <font color="red">ADD VALUE</font> [IF NOT EXISTS]<br>
        &emsp; &emsp; &emsp; &emsp; $<$Novo Valor$>$ <br>
        &emsp; &emsp; &emsp; &emsp; [{BEFORE|AFTER} $<$valor existente$>$]</b>
    </font></div></td>
</tr></table>
<br><br><br><br><br><br><br><br>

Caso a cláusula `{BEFORE|AFTER}` não seja indicada, o novo valor é acrescentado no final da lista de valores.

<b>Por exemplo:</b>

In [ ]:
%%sql
ALTER TYPE Cor
    ADD VALUE 'Violeta';
ALTER TYPE Cor
    ADD VALUE 'Bronze' AFTER 'Prata';

SELECT Enum_Range(NULL::Cor);

<br><br>

Não se aceita remover um valor já definido porque ele pode já ter sido usado como valor em alguma tupla.

Caso seja realmente necessário remover um valor, o enumerador deve ser removido e a seguir recriado.\
Para fazer isso, o enumerador antigo deve ser removido, e para isso, todos os atributos que o referenciam, em qualquer tabela, devem ser removidos também.

Uma maneira de fazer isso sem perder informação é, dentro de uma transação:
 1) transformar os valores temporariamente num texto comum,
 2) remover e recriar o enumerador com os valores desejados, e então
 3) transformar de volta os valores textuais nos valores do novo enumerador.

Antes de executar o passo 3), é necessário remover das tuplas os valores do enumerador que não irão mais existir.\
&emsp; a lógica para isso depende da semantica da aplicação \
&emsp; &emsp; (pode-se definir um valor `default`, deixar o valor nulo, remover a tupla, etc.)

<b>Por exemplo:</b>

In [ ]:
%%sql
ALTER TABLE Carros ALTER COLUMN Pintura TYPE TEXT;
--ALTER TABLE Carros ALTER COLUMN Pintura SET DEFAULT('Furta-cor');
DROP TYPE Cor;
CREATE TYPE Cor AS
    ENUM ('Preto', 'Marron', 'Vermelho', 'Laranja',
		  'Amarelo', 'Verde', 'Azul', 'violeta', 
		  'Cinza', 'Branco', 'Dourado', 'Prata', 'Ciano');
ALTER TABLE Carros ALTER COLUMN Pintura TYPE Cor USING Pintura::Cor;

<br>

Os dados já armazenados nas tabelas que usam o enumerador continuam com os valores atribuídos.

In [ ]:
%%sql
SELECT * FROM Carros;

In [ ]:
%sql defCarro  <<  \
SELECT C.RelName, A.AttName, A.AttNum, A.AttLen, A. AttTypId, T.TypName \
    FROM Pg_Class C JOIN Pg_Attribute A ON C.OID = A.AttRelId           \
                    JOIN Pg_Type T      ON A.AttTypId=T.OID             \
    WHERE (C.RelName = 'carros')                                        \
      AND A.AttNum>0   -- AttNum<0 ==> Atributo de sistema              \
    ORDER BY 1,4;

IdCorNovo=defCarro[1][4]

print(defCarro, '\n\nO identificador do enumerador Cor era:', IdCor, 'e agora ficou:', IdCorNovo)

<br><br>

# 4. Enumerador versus Chave estrangeira

Um tipo de dado Enumerador é considerado estático.\
Nesse caso, o <b>Tipo Enumerador</b> tem seus valores pré-definidos e não é esperado que possam mudar:\
&emsp; &emsp; &emsp; <img src="Figuras/Enum_Cores 1A.png" width=120>


Se o conjunto de valores pode mudar dinamicamente, é melhor definir o atributo como uma Chave Estrangeira.\
&emsp; &emsp; &emsp; <img src="Figuras/Enum_Cores 1B.png" width=440>

criando uma Relação para armazenar a tabela que mapeia um <b>Conjunto de Entidades</b> que corresponde a esse tipo de dados

In [ ]:
%%sql
DROP TABLE IF EXISTS Cores;
CREATE TABLE Cores(Nome TEXT PRIMARY KEY);
INSERT INTO CORES VALUES
          ('Preto'), ('Marron'), ('Vermelho'), ('Laranja'),
          ('Amarelo'), ('Verde'), ('Azul'), ('violeta'), 
          ('Cinza'), ('Branco'), 
          ('Dourado'), ('Prata'), ('Ciano'), ('Magenta');

A definição das tabelas que usam esses valores devem ser corrigidas de acordo,\
Mas a inserção das tuplas e valores permanece igual.

In [ ]:
%%sql
DROP TABLE IF EXISTS Carros;
CREATE TABLE Carros (
    Placa TEXT,
    Pintura TEXT REFERENCES Cores(Nome)
);

INSERT INTO Carros VALUES ('ABC4E67', 'Branco')
    RETURNING *;

<br>

Da mesma maneira que quando se usam Enumeradores, tentar colocar <font color="red"> um valor que não está definido, <b>dá erro.</b></font>

%%sql
INSERT INTO Carros VALUES ('XYZ4E67', 'Bronze') 
    RETURNING *;

<br>

Para efeito de modelagem, a solução baseada em um\
<b>Conjunto de Entidades</b> permite ainda que cada cor possa ter outros atributos além do nome usado num enumerador.\
Por exemplo, é possível associar a cada nome de cor atributos de como a cor é mostrada:

&emsp; &emsp; &emsp; <img src="Figuras/Enum_Cores 1C.png" width=440>

No entanto, quando se extrai dados de uma base de dados em um <i>dataset</i> que passa a ser estático,\
a origem do dado ser
  * via chave estrangeira ou
  *  via um enumerador\
  &emsp; sempre leva a um mesmo resultado.

<br><br>

# 5. Enumeradores em atributos multi-valorados



<table align="left" border="1" style="width:1000">
  <tr>
    <td style="width:750">
      <font size=3>
      Enumeradores podem ser multi-valorados como qualquer outro tipo de dados em <img src="Figuras/Postgres.png" width=100>.<br><br>
      <b>Por exemplo,</b> numa relação de `Bandeiras`, cada bandeira pode ter várias cores:<\font>
    </td>
    <td style="width:2500"><img src="Figuras/Cores-1-bandeiras.png" width=150></td>
    <td></td>
</tr>
</table>

In [ ]:
%%sql
DROP TABLE IF EXISTS Bandeiras;
CREATE TABLE Bandeiras(
    Pais TEXT,
    Cores Cor[]);

<br>

Os valores a serem inseridos podem ser indicados pela notação de _arrays_:

<b>Note:</b> Pelo menos o primeiro valor deve ter seu tipo indicado explicitamente (com um `CAST`): `'Verde'::Cor` \
Caso contrário, o tipo assumido é o _default_ da representação (neste caso, `TEXT`).\
Os valores seguintes já têm seu tipo _default_ assumido como sendo igual ao anterior.

In [ ]:
%%sql
INSERT INTO Bandeiras 
    VALUES ('Brasil', ARRAY['Verde'::Cor, 'Amarelo', 'Azul', 'Branco'])
    RETURNING *;

<br>

Ou os valores podem ser inseridos indicados pela notação de <i>array</i> de <i>strings</i>:

In [ ]:
%%sql
INSERT INTO Bandeiras 
    VALUES ('São Paulo', '{Preto,Branco,Azul,Vermelho,Amarelo}')
    RETURNING *;

<br><br><br>

# Limpar e deixar a base no mesmo estado inicial

É sempre interessante reverter todas as operações de criação de índices feitas por este ___notebook___.

In [ ]:
%%sql
DROP TABLE IF EXISTS Carros, Bandeiras;
DROP TYPE IF EXISTS Cor;

<br><br>

<font size="5" face="verdana" color="green">
    <b>Preparação de dados <!-- usando <b>funções de janelamento --></b> em SQL</b><br></font>
    <font size="5" face="verdana" color="green"><b>4.2 - Tipos de dados&nbsp; </b></font>
    <font size="5" face="courier" color="green"><b>Enum</b></font>
    </font><br>

<font size="10" face="verdana" color="red">
    <img src="Figuras/ICMC_Logo.jpg" width=70>&emsp;
    <b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="Figuras/Gbdi2005.jpg" width=400>
    </font>

<br>

<img src="Figuras/Cores-5.jpg" width=840/>

<br>